# Node
node_modules/
npm-debug.log*

# Variables de entorno
.env
backend/.env
frontend/.env

# Builds
dist/
build/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Respaldos de base de datos
*.bak